/* Imports */
/* @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700'); */
/* @import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,700'); */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather:700,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,400,700");

/* General */
body {
  height: 100%;
  margin: 0px;
  padding: 40px;
  color: #424770;
  background-color: #efefef;

  overflow-y: hidden;
}

/* Selection */
::selection {
  color: white;
  background: rgba(0, 82, 204, 0.8); /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: rgba(0, 82, 204, 0.8); /* Gecko Browsers */
}

/* Reset inputs */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0 none;
  border-color: white;
  box-shadow: none;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0,132,137, 0.6); */
}

.no-underline {
  text-decoration: none !important;
}

.navigation {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: 400;

  background: white;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
}

.sub-navigation {
  width: 100%;
  padding: 0px 20px 5px 20px;
  border-top: 2px solid #ebecf0;
  background: #f4f5f7;
  margin-bottom: 23px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
}

.single .row {
  padding-left: 15px;
  padding-right: 15px;
}
