.rhs {
  padding: 0px 0px 0px 22px !important;
  height: calc(100vh - 230px);
}

.title {
  height: 36px;
  padding: 0px 10px !important;
  border-bottom: 2px solid #ebecf0;
  background: #f4f5f7;
  display: flex;
  align-items: center;
}

.rhs .inside {
  padding: 20px;
  height: 100%;
  background: white;
  border-bottom-right-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
}

.bg-darkblue {
  background: #0052cc !important;
}

.result-img {
  z-index: 10000 !important;
  height: 500px !important;
  width: 500px !important;
  margin: 10px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
}

.placeholder {
  background: grey;
  height: 500px;
  width: 500px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.results {
  /* width: 70%; */
  /* height: calc(50% - 40px); */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.speed {
  height: 200px;
  width: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  background: #f4f5f7;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 2px solid #ebecf0;
  border-right: 2px solid #ebecf0;
  border-bottom: 2px solid #ebecf0;

  display: flex;
  align-items: center;
}
.details h6 {
  /* display: inline-block; */
  margin: 10px 0px 0px 0px;
}
.details pre {
  margin-bottom: 10px;
}
.speed h1 {
  margin: 0px;
}

.conclusion {
  background: #d4edda;
  padding: 20px;
  height: 200px;
  box-shadow: rgba(113, 113, 190, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 2px solid #d4edda;
  border-right: 2px solid #d4edda;
  border-bottom: 2px solid #d4edda;

  display: flex;
  align-items: center;
}

.shine:after {
  opacity: 0.25;
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
  animation: slide 1s;

  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.8)),
    color-stop(99%, rgba(128, 186, 232, 0)),
    color-stop(100%, rgba(125, 185, 232, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
